
<div class="header">
  <h1>3-bit Art</h1>
  <h2>Eight colors ought to be enough for anybody.</h2>

  <h4>by</h4>

  <a href="https://github.com/Hypercubed">Jayson Harshbarger</a>
  <p></p>
  <a href="https://colo--colo.tumblr.com/">Ayako Ishikawa</a>
</div>

<div class="workspace">
  <app-three-bit-canvas [size]="canvasSize" [scale]="20" [data]="data" (dataChange)="onDataChange($event)" [color]="color"></app-three-bit-canvas>

  <br />
  <div class="colors">
    <span *ngFor="let c of colors">
      <button (click)="color = c" [style.background-color]="c.value"></button>
    </span>
  </div>

  <button (click)="onSave()" md-raised-button>Save</button>
</div>

<div class="gallary">
  <div class="gallary-item" *ngFor="let g of gallary; trackBy: trackByFn" [@anim]>
    <a [attr.href]="'#'+g.data" (click)="data = g.data">
      <app-three-bit-canvas
        [size]="canvasSize"
        [scale]="5"
        [data]="g.data"
        [color]="color"
        [drawingEnabled]="false"></app-three-bit-canvas>
    </a>
    <button (click)="onDeleteGallaryItem(g.id)" md-mini-fab><md-icon>clear</md-icon></button>
  </div>
</div>
